<div id="<%= dom_id tool %>">
  <p>
    <strong>Title:</strong>
    <%= tool.title %>
  </p>

  <p>
    <strong>Goal:</strong>
    <%= tool.goal_id %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= tool.detail %>
  </p>

  <p>
    <strong>Key indicator:</strong>
    <%= tool.key_indicator %>
  </p>

  <p>
    <strong>Key indicator unit:</strong>
    <%= tool.key_indicator_unit %>
  </p>

  <p>
    <strong>Indicator 2016:</strong>
    <%= tool.indicator_2016 %>
  </p>

  <p>
    <strong>Indicator 2017:</strong>
    <%= tool.indicator_2017 %>
  </p>

  <p>
    <strong>Indicator 2018:</strong>
    <%= tool.indicator_2018 %>
  </p>

  <p>
    <strong>Indicator 2019:</strong>
    <%= tool.indicator_2019 %>
  </p>

  <p>
    <strong>Indicator 2020:</strong>
    <%= tool.indicator_2020 %>
  </p>

  <p>
    <strong>Indicator 2021:</strong>
    <%= tool.indicator_2021 %>
  </p>

  <p>
    <strong>Indicator 2022:</strong>
    <%= tool.indicator_2022 %>
  </p>

  <p>
    <strong>Indicator goal 2030:</strong>
    <%= tool.indicator_goal_2030 %>
  </p>

  <p>
    <strong>Tool data status:</strong>
    <%= tool.tool_data_status %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= tool.url %>
  </p>

</div>
