<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Press:</strong>
    <%= story.press %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= story.author %>
  </p>

  <p>
    <strong>Published:</strong>
    <%= story.published %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= story.url %>
  </p>

</div>
