<div id="<%= dom_id policy %>">
  <p>
    <strong>Title:</strong>
    <%= policy.title %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= policy.department %>
  </p>

  <p>
    <strong>Released:</strong>
    <%= policy.released %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= policy.detail %>
  </p>

  <p>
    <strong>Url:</strong>
    <%= policy.url %>
  </p>

</div>
