<div id="<%= dom_id goal %>">
  <p>
    <strong>Title:</strong>
    <%= goal.title %>
  </p>

  <p>
    <strong>Depth:</strong>
    <%= goal.depth %>
  </p>

  <p>
    <strong>Detail:</strong>
    <%= goal.detail %>
  </p>

  <p>
    <strong>Data status:</strong>
    <%= goal.data_status %>
  </p>

  <p>
    <strong>Emission 2016:</strong>
    <%= goal.emission_2016 %>
  </p>

  <p>
    <strong>Emission 2017:</strong>
    <%= goal.emission_2017 %>
  </p>

  <p>
    <strong>Emission 2018:</strong>
    <%= goal.emission_2018 %>
  </p>

  <p>
    <strong>Emission 2019:</strong>
    <%= goal.emission_2019 %>
  </p>

  <p>
    <strong>Emission 2020:</strong>
    <%= goal.emission_2020 %>
  </p>

  <p>
    <strong>Emission 2021:</strong>
    <%= goal.emission_2021 %>
  </p>

  <p>
    <strong>Emission 2022:</strong>
    <%= goal.emission_2022 %>
  </p>

  <p>
    <strong>Emission goal 2030:</strong>
    <%= goal.emission_goal_2030 %>
  </p>

</div>
